@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Mirza", cursive;
}

h3 {
  overflow-y: hidden;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

h2 {
  font-family: serif;
  font-weight: 200;
  letter-spacing: 3px;
}

.center {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

html {
  scroll-behavior: smooth;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.3px);
  -webkit-backdrop-filter: blur(1.3px);
}

* {
  cursor: none;
}
button {
  cursor: none;
}
